{% extends 'base.html.twig' %}

{% block title %}EVZA - přehled zaměstnanců{% endblock %}

{% block body %}
    {% include 'components/header.html.twig' %}

    <main>
        <h1>Přehled všech zaměstnanců</h1>
        <ul id="employee-list">
            {% for employee in employees %}
            <li>
                <div class="employee-list-img__container">
                    <img src="https://st3.depositphotos.com/6672868/13701/v/450/depositphotos_137014128-stock-illustration-user-profile-icon.jpg"
                        alt="Profilová fotka zaměstnance {{ employee.firstName }} {{ employee.secondName }}" />
                </div>
                <div class="employee-list-info">
                    <h2><a href="{{ path('app_employee_detail', {id: employee.Id}) }}">{{ employee.firstName }} {{ employee.secondName }}</a></h2>
                    <dl>
                        <dt>Pozice:</dt>
                        <br>
                        {% for position in employee.positions %}
                            <dd class="employee-list-position">{{ position.name }}</dd>
                        {% endfor %}
                        <dt>E-mail:</dt>
                        <dd>
                            {% if employee.email %}
                                <a href="mailto:{{ employee.email }}">{{ employee.email }}</a>
                            {% else %}
                                Není zadán
                            {% endif %}
                        </dd>
                    </dl>
                </div>
            </li>
            {% endfor %}
        </ul>
    </main>

    {% include 'components/footer.html.twig' %}
{% endblock %}